<a class="tab-item news" href="#">
    <span class="icon icon-compose"></span>
    <span class="tab-label"><%t ('utils.news') %></span>
</a>
<a class="tab-item home" href="#home">
    <span class="icon icon-home"></span>
    <span class="tab-label"><%t ('utils.home') %></span>
</a>
<a class="tab-item list" href="#rooms">
    <span class="icon icon-list"></span>
    <span class="tab-label"><%t ('rooms.rooms') %></span>
</a>
<a class="tab-item star" href="#favorites">
    <span class="icon icon-star"></span>
    <span class="tab-label"><%t ('utils.favorites') %></span>
</a>
<a class="tab-item info" href="#settings">
    <span class="icon icon-info"></span>
    <span class="tab-label"><%t ('utils.settings') %></span>
</a>
