/* Home Style */
body, .page.center {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: 100%;
}

body.home .title {
    color: #D6FFB2;
}

body.home .media-body p {
    padding: 0;
}

body.home .room-content p {
    padding: 4px 0px 0px 0px;
}

body.home .content {
    top: 44px !important;
    padding-top: 10px;
}

body.home .rooms-home li.table-view-cell.media, .show-room li.table-view-cell.media.upcoming-event {
    -webkit-box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2); 
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

body.home p.content-date {
    text-align: center;
}

/* List Style */
body.list .title {
    color: #D6FFB2;
}

body.list li.table-view-cell.media {
    padding: 7px 0 0 0;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 8px 9px 0 rgba(0,0,0,0.2);
    box-shadow: 0 8px 9px 0 rgba(0,0,0,0.2);
}

body.list h4, h4.room-name {
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 15px;
    color: #D6FFB2;
}

body.list p{
    padding: 0px;
    color: #fff;
}

body.list .media-body {
    background: rgba(0, 0, 0, 0.08);
    padding: 15px 15px 20px 15px;
}

body.list .content {
    top: 40px !important;
    padding-top: 10px;
}


/* Fav Style */

body.fav  .content > .table-view:first-child {
    margin-top: 19px;
}

body.fav h4.content-title {
    text-align: right;
    width: 100%;
    padding: 0px;
}

body.fav .rooms-home .media-body {
    height: 150px;
}

body.fav .rooms-home li.table-view-cell.media {
    margin-bottom: 15px;
    -webkit-box-shadow: 0 8px 9px 0 rgba(0,0,0,0.2);
    box-shadow: 0 8px 9px 0 rgba(0,0,0,0.1);
    padding: 5px 5px 7px 5px !important;
}

body.fav p.content-hour {
    text-align: right;
    width: 100%;
    padding: 0px 4% 0px 1.5% !important;
    color: #D6FFB2;
}

body.fav .content ul.table-view {
    padding: 0 10px 16px 10px;
    margin-top: -20px !important;
}

body.fav .content ul.rooms-home{
    margin-top: 19px !important;
}






#container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.navigate-left:after, .navigate-right:after, .push-left:after, .push-right:after {
    top: 62%;
    color: #D6FFB2;
}

.page {
    position: fixed;
    left: 0;
    right:0;
    bottom: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

.content-title, p.content-summary{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 25px;
    -webkit-box-orient: vertical;
}

.truncated{
    display: inline-block !important;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 1px;
}

.event-moment {
    height: 30px;
    background: rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 17px 25px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 8px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.event-moment p {
    font-family: "HelveticaNeue-Light";
    font-size:  1em;
    color:  #D6FFB2 !important;
    margin-top: 0px;
    font-weight: 200;
    padding-top: 4px !important;
}

.current-event {
    height: 179px;
    background: url(/images/event-bg.jpg) no-repeat center top 100% !important;
    background-size: 100% !important;
    padding: 20px 5px 0 5px !important;
    text-align: center;
}



.content > .table-view:first-child {
    margin-top: 0px;
}

.content-hour{
    color: #d2d2d2;
    text-align: right;
    font-size: 0.7em;
}
.current-event .content-hour{
    text-align: center;
}

.center{
    background: url(/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.date{
    float: left;
    width: 20%;
    height: inherit;
    text-align: center;
    background: rgba(0,0,0,0.13);
    color: #a0a0a0;
    padding-top: 13px;
    -webkit-box-shadow: inset -3px 0 9px 1px rgba(0,0,0,0.1);
    box-shadow: inset -3px 0 9px 1px rgba(0,0,0,0.1);
}

.day{
    font-size:  1.9em;
    color: #a0a0a0;
}

.day-name, .month{
    font-size: 0.7em;
    color: #a0a0a0;
}

.content-details{
    float: left;
    width: 80%;
    height: inherit;
    text-align: center;
    padding: 0px 10px;
}

.content-details p {
    text-align: right;
    padding: 0px 6% 0px 1.5%;
    width: 100%;
}

p.content-hour {
    padding-top: 9px !important;
}

p.content-summary{
    font-size: 1.2em;
    color: #fff;
    font-family: "HelveticaNeue-Light";
}

.content {
    background: none !important;
}

.table-view .table-view-divider {
    padding-top: 0px;
}

.bar{
    box-shadow: none !important;
    background: transparent !important;
    border: none !important;
}

.show-room li.table-view-cell.media.upcoming-event {
    padding: 0;
    background: rgba(256, 256, 256, 0.13);
}

.show-room a.navigate-right {
    margin: 0;
}

.show-room .media-body{
    height: 88px;
}

.table-view .table-view-divider, .table-view .table-view-cell,.table-view .table-view-cell,.table-view{
    border: none !important;
    background: none;
}

.show-room .upcoming-event{
    padding-top: 5px;
}

.rooms-home li.table-view-cell:nth-child(odd) {
    background: rgba(255, 255, 255, 0.13);
}

.rooms-home li.table-view-cell:nth-child(even) {
    background: rgba(255, 255, 255, 0.05);
}

h4, .h4 {
    font-size: 1.3em;
    font-family: Helvetica Neue;
    font-weight: 200;
}

.table-view-cell {
    padding: 0px;
}

.table-view-cell > a:not(.btn) {
    margin: 0px;
}

.rooms-home .media-body > *{
    float: left;
}

.rooms-home h4.room-name {
    width: 30%;
    background: rgba(0, 0, 0, 0.1);
    color: #CCC;
    font-size: 1.1em;
    text-align: center;
    height: inherit;
    padding: 34px 5px;
}

.rooms-home .media-body {
    height: 95px;
}

.room-content {
    width: 70%;
    text-align: right;
    padding: 5px 4% 0px 1.5%;
}

h4.content-title {
    color: #fff;
}

p.content-date {
    color: #D6FFB2 !important;
}

.title {
    color: #D6FFB2;
    font-weight: 200;
    text-align: center;
}

.bar-tab .tab-item {
    color: #fff;
}


a.tab-item {
    background: #259fc2;
}


.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    color: #D6FFB2;
    background: #1F86A3;
    -webkit-box-shadow:inset 1px 1px 8px 1px rgba(0,0,0,0.3);
    box-shadow:inset 1px 1px 8px 1px rgba(0,0,0,0.3);
}

.bar .icon {
    color: #fff;
}

.bar-tab .tab-item.active span, .bar-tab .tab-item:active span{
    color: #D6FFB2
}


.center {
    background: none;
}

.table-view-cell > a:not(.btn):active {
    background: rgba(0, 0, 0, 0.2) url(../images/summit.png) no-repeat center ;
}

.table-view-cell > a:not(.btn):active .media-body {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.media-body p {
    color: #fff;
}

.media-body div {
    color: #fff;
}

h6 b {
    color: #D6FFB2;
    font-size: 0.7em;
    font-weight: 200;
}

 h6 {
    text-transform: uppercase;
    font-size: 1em;
    color: #fff;
    font-family: Helvetica Neue, Arial;
    font-weight: 200;
}

.table-view .media-body {
    padding: 0 10px;
}

.show-room li.table-view-cell.media.upcoming-event .media-body{
    padding: 0;
}

.navigate-right .media-body{
    padding: 0px 0 20px 0 !important;
}

.rooms-index .navigate-right .media-body p{
    padding: 0px 25px 0px 15px !important;
}

.rooms-show .content-details {
    padding: 0 31px 0 10px;
}

p.content-hour {
    margin: 6px 0 0 0;
}

li.table-view-cell.table-view-divider.event-moment {
    background: rgba(0, 0, 0, 0.2);
}


.bar-tab {
    -webkit-box-shadow: 0 -5px 9px 0 rgba(0,0,0,0.1);
    box-shadow: 0 -5px 9px 0 rgba(0,0,0,0.1);
}

.show-room {
    padding-top: 20px !important;
}

.content {
    top: 40px !important;
}

.date p {
    font-family: "HelveticaNeue-Light";
}

.current-event .media-body {
    padding: 3px 15px 0px 15px !important;
}

ul.table-view.about {
    background: rgba(0, 0, 0, 0.1);
    padding: 1px 20px 14px 20px;
    margin-bottom: 0px;
    color: #fff;
    font-size: 15px;
}

ul.table-view.about ul {
    -webkit-padding-start: 18px;
}

ul.table-view.about li.table-view-cell.table-view-divider {
    color: #D6FFB2;
    font-family: "HelveticaNeue-Light";
    text-align: center;
    margin-top: 20px;
}

a {
    color: #D6FFB2;
}

h4.room-name {
    background: none !important;
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 0px;
    color: #D6FFB2;
}

.icon {
    width: 40px;
}



