# ANDROID / ECLIPSE

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

.cordova

# Local configuration file (sdk path, etc)
platforms/android/local.properties
platforms/android/CordovaLib/local.properties

platforms/android/ant-build/
platforms/android/CordobaLib/ant-build/
platforms/android/CordobaLib/ant-gen/
platforms/android/ant-gen/
platforms/android/assets/www/

www/scripts/
www/styles/
www/fonts/

# IOS / Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
IOS/www/

# OSX
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
