<header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left btn-back"></a>
    <h1 class="title"><%- model.get("description") %></h1>
</header>
<div class="content">
    <div class="media-body">
        <div class="event-content">
            <%= model.get('content') %>
        </div>
    </div>
</div>
