<%= JST['app/scripts/templates/partials/_navigation.ejs']({
    nav: 'settings',
    title: 'utils.settings'
}) %>

<div class="content">
    <ul class="table-view about">
<!--         <li class="table-view-cell table-view-divider">
            <%t ('utils.languages') %>
        </li>
        <li class="table-view-cell">
            <span class="media-object pull-left fa fa-language"></span>
            <%t ('utils.english') %>
            <div class="toggle" id="language">
                <div class="toggle-handle"></div>
            </div>
        </li>
        <li class="table-view-cell table-view-divider">
            <%t ('utils.notifications') %>
        </li>
        <li class="table-view-cell media">
            <span class="media-object pull-left fa fa-bullhorn"></span>
            <%t ('utils.notify') %>
            <div class="toggle">
                <div class="toggle-handle"></div>
            </div>
        </li>

        About -->
        <li class="table-view-cell table-view-divider">
            <%t ('utils.about') %>
        </li>
        <li class="table-view-cell media">
            <div class="media-body">
            <p>
                San Carlos Technology Summit es el primer y único evento de referencia y actualización tecnológica dirigido a la Región Huetar Norte de Costa Rica, creado por las principales empresas, organizaciones y centros de educación universitaria de San Carlos relacionados con el sector tecnológico.
            </p>
            <p>
                Más en <a href="http://www.sancarlostechnologysummit.com/">www.sancarlostechnologysummit.com</a>
            </p>
          </div>
        </li>
        <li class="table-view-cell table-view-divider">
            <%t ('utils.about_credits') %>
        </li>
        <li class="table-view-cell media">
            <div class="media-body">
            <p>
                Desarrollado por DotCreek, especificamente gracias a:
                <ul>
                    <li>Lester Angulo</li>
                    <li>Allan Sibaja</li>
                    <li>Hanzel Cruz</li>
                    <li>Francisco Quesada</li>
                    <li>Guillermo Arias</li>
                    <li>Elizabeth Salas</li>
                </ul>
            </p>
          </div>
        </li>
    </ul>
</div>
